.title-loan {
    height: 29px;
    color: #737aff;
    font-size: 36px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
}
.text-white {
    color: #ffffff;
}
.text-grey {
    color: #9ca7be;
}
.text-green {
    color: #5fff7d;
}
.text-blue {
    color: #737aff !important;
}
.text-left {
    float: left;
}
.text-right {
    float: right;
}
.text-center {
    text-align: center;
}
.separator-50 {
    margin-top: 50px;
}
.separator-line-vertical {
    box-sizing: border-box;
    height: 35px;
    width: 1px;
    border: 1px solid #b7b7b7;
    opacity: 0.2;
    background-color: #b7b7b7;
    float: left;
}
.menu-loan {
    height: 7px;
    width: 190px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: bold;
    line-height: 20px;
    float: right;
    margin-top: -10px;
}
.menu-loan-account {
    padding-right: 10px;
    display: inline;
}
.menu-loan-transaction {
    padding-left: 10px;
    display: inline;
}
.line-header {
    background: url(/assets/user-dashboard/loan/div-line-47c559b8a6edda388108fbd821045f1a9769258a8e7d8f9a4c42c11d1d0b0feb.png);
    box-sizing: border-box;
    height: 1px;
    width: 45%;
    border: 1px solid #ffffff;
    opacity: 0.05;
    background-color: #ffffff;
    display: inline;
    margin-top: 45px;
}
.adj-header {
    background: url(/assets/user-dashboard/loan/adjust-height-icon-d6325c5d690e4597e72c0d2bfea2401196d63674b27fcc162a400a11daa9c8a4.png);
    height: 13px;
    width: 8px;
    display: inline;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}
.inner-loan-portofolio {
    width: 208px;
    float: left;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    height: 16px;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
}
.inner-loan-interest {
    width: 100px;
    float: left;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    height: 16px;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
}
.inner-loan-portofolio p {
    text-align: justify;
}
.inner-loan-interest p {
    text-align: justify;
    font-size: 11px;
}
.inner-loan-portofolio-available {
    width: 300px;
    float: left;
    padding: 0;
    margin: 0 auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -10px;
    text-align: center;
    font-size: 30px;
}
.inner-loan-interest-available {
    width: 185px;
    float: left;
    padding: 0;
    margin: 0 auto;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}
.inner-loan-portofolio-available p {
    text-align: center;
}
.inner-loan-interest-available p {
    text-align: left;
    font-size: 13px;
}
.inner-loan-portofolio-info {
    height: 9px;
    color: #84859f;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}
.inner-loan-interest-info {
    height: 9px;
    color: #84859f;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}
.loan-portofolio {
    width: 824px;
    margin: 0 auto;
    margin-top: 50px;
}
.loan-interest {
    width: 100%;
    margin: 0 auto;
    padding: 28px;
}
.pay-loan-form-container {
    width: 824px;
    margin: 0 auto;
    margin-top: 50px;
}
.pay-create-loan-form-container {
    width: 565px;
    margin-top: 25px;
    display: block;
}
.transaction-filter-form {
    width: 565px;
    display: contents;
    margin-top: 20px;
}
.row-loan-portofolio {
    background: url(/assets/user-dashboard/loan/shadow-e5cc498fba7cafcb13bee9ddfe08452efba07b0555b0aa704f904261ce5f40d8.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-top: 41px;
    display: block;
    position: relative;
}
.pay-loan-title {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    margin-top: 45px;
}
.text-pay-loan-title {
    height: 16px;
    margin: 0 auto;
    color: #ffffff;
    font-family: "Montserrat Alternates";
    font-size: 18px;
    font-weight: 800;
    line-height: 20px;
}
.pay-loan-form-container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    margin-top: 60px;
}
.pay-loan-form {
    height: 566px;
    width: 566px;
    background-color: #171d25;
    margin: 0 auto;
    border-radius: 8px;
}
.pay-create-loan-form {
    height: 700px;
    width: 490px;
    background-color: #171d25;
    margin-left: 40px;
    border-radius: 10px;
}
.inner-transaction-filter-form {
    width: 100%;
    background-color: #171d25;
    margin-left: 1px;
    border-radius: 10px;
    margin-top: 30px;
    opacity: 0.7;
}
.title-transaction-section {
    width: 220px;
    margin-top: 20px;
}
.icon-filter-right {
    float: right;
    margin-top: -30px;
    margin-right: 14px;
}
.grid-header {
    display: flex;
}
.last-component-filter {
    margin-right: 15px;
}
.title-create-loan {
    display: inline-block;
    margin: auto;
    width: 100%;
    text-align: center;
    font-family: "Montserrat Alternates" !important;
}
.loan-form-info-label {
    height: 10px;
    width: 202px;
    color: #84859f;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    line-height: 20px;
    margin-left: 15px;
}
.loan-form-info-label-collateral {
    height: 10px;
    width: 202px;
    color: #84859f;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    margin-left: 15px;
    margin-bottom: 17px;
    display: inline;
}
.header-pay-loan-form {
    background: url(/assets/user-dashboard/loan/strip-grid-item-active-bb1b9e220398be83de5f314698f466cee007993ee171c356475f528506daf69f.png);
    background-repeat: no-repeat;
    height: 116px;
    width: 566px;
    background-color: #212734;
    box-shadow: 0 10px 45px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}
.header-pay-loan-form2 {
    background: url(/assets/user-dashboard/loan/strip-grid-item-56c2e377294ee33dbdc6fb8788df2d42626ab44e4be56a6b5f9d9cce70fc9ad3.png);
    background-color: #212734;
    height: 50px;
    width: auto;
    box-shadow: 0 10px 45px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.icon-filter-blue:before {
    content: "";
    background-image: url(/assets/user-dashboard/loan/filter-icon-blue-b5ed968a5f1abbda07517de733174df808fa18a3700da5336d3572ba8e39f3be.png);
    background-size: 14px 14px;
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
}
.icon-close-white:before {
    content: "";
    background-image: url(/assets/user-dashboard/loan/cancel-white-9cebc3209ffb96124cbbdcd29c4c1b51f57bf9f50fdcfcf31d601ede764b749f.png);
    background-size: 14px 14px;
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
}
.icon-calendar-blue:before {
    content: "";
    background-image: url(/assets/user-dashboard/loan/calendar-icon-blue-d8065e33c20fcf072ab471554c56d841167c1af1d315370ef2089cc210527fa4.png);
    background-size: 14px 14px;
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
}
.icon-calendar:before {
    content: "";
    background-image: url(/assets/user-dashboard/loan/calendar-icon-db082632819abc4698d68132454a52e52c6243dc9819f0108b648a00111674dd.png);
    background-size: 14px 14px;
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
}
.icon-filter:before {
    content: "";
    background-image: url(/assets/user-dashboard/loan/filters-icon-b6c3e2f635af573cbb7a54275eecbeb4c2daced145c74ba37db1632463ebe794.png);
    background-size: 14px 14px;
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
}
.icon-question:before {
    content: "";
    background-image: url(/assets/user-dashboard/loan/question-icon-38c719c208eb9dd9bab02d78ebd4b065c6166f5c1eb1478ace37036e8d4d4d32.png);
    background-size: 14px 14px;
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
}
.icon-clock:before {
    content: "";
    background-image: url(/assets/user-dashboard/loan/clock-icon-7915cd53bcaca778bfbe735503e1e96469d1288789ff28df1fff6c458f119b6b.png);
    background-size: 14px 14px;
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
}
.icon-interest:before {
    content: "";
    background-image: url(/assets/user-dashboard/loan/interest-icon-8280f0f75c035ed231b5f24a5c84fff301c3792e7ef186e90c08458ecba34847.png);
    background-size: 14px 14px;
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
}
.icon-loans:before {
    content: "";
    background-image: url(/assets/user-dashboard/loan/loans-icon-3aa1f60621c6ef69a110fc494cb7efc356184f205f952b06f24de4100c9189bb.png);
    background-size: 14px 14px;
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
}
.icon-loans-white:before {
    content: "";
    background-image: url(/assets/user-dashboard/loan/loan-icon-white-682f46e5dcf3b210506c974276a8c7dae06943e49ac89aeff243bbe3991b5df8.png);
    background-size: 25px 14px;
    display: inline-block;
    width: 25px;
    height: 14px;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.close-icon {
    float: right;
    margin-right: 10px;
}
.loan-form-first-group {
    margin-top: 60px;
    height: 90px;
    width: 370px;
    margin-left: 96px;
}
.loan-form-first-group-collateral {
    margin-top: 60px;
    height: 90px;
    width: 370px;
    margin-left: 60px;
}
.loan-form-first-group-filter {
    margin-top: 17px;
    height: 90px;
    width: 299px;
    margin-left: 16px;
    display: inline-block;
}
.loan-form-group {
    margin-top: 30px;
    height: 90px;
    width: 370px;
    margin-left: 96px;
}
.loan-form-group-collateral {
    margin-top: 50px;
    height: 155px;
    width: 370px;
    margin-left: 60px;
}
.loan-form-group-filter {
    margin-top: 50px;
    height: 155px;
    width: 370px;
    margin-left: 60px;
}
.loan-form-label {
    font-family: "Montserrat Alternates";
    margin-bottom: 15px;
    margin-left: 15px;
}
.loan-form-label-collateral {
    font-family: "Montserrat Alternates";
    margin-bottom: 5px;
    margin-left: 15px;
}
.loan-form-label-filter {
    font-family: "Montserrat Alternates";
    margin-bottom: 5px;
}
.button-collateral {
    display: inline;
    float: right;
    position: absolute;
    margin-top: -24px;
    margin-left: 90px;
}
.paying-buy {
    font-size: 13px !important;
}
.loan-detail-amount-label {
    height: 9px;
    width: 127px;
    color: #d4d4d4 !important;
    font-family: "Montserrat Alternates";
    font-size: 13px !important;
    font-weight: 300;
    line-height: 20px;
    margin-top: 10px;
}
.loan-detail-amount {
    height: 21px;
    width: 224px;
    color: #6067e6;
    font-family: "Montserrat Alternates";
    font-size: 24px !important;
    font-weight: 500;
    line-height: 20px;
}
.loan-info {
    margin-top: 39px;
    margin-bottom: 36px;
}
.repayment-amaount {
    height: 21px;
    color: #ffffff;
    font-family: "Montserrat Alternates";
    font-size: 24px !important;
    font-weight: bold;
    line-height: 20px;
}
.detail-loan {
    margin-top: 80px;
}
.label-term {
    height: 12px;
    width: 188px;
    color: #ffffff;
    font-family: "Montserrat Alternates";
    font-size: 16px;
    line-height: 20px;
    display: inline;
}
.label-term-right {
    float: right;
    height: 11px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 20px;
}
.banner-loan {
    width: 550px;
    display: inline;
    margin-right: 23px;
}
.banner-loan img {
    width: 550px;
    display: inline;
    margin-right: 23px;
}
.slider-banner {
    display: inline-flex;
    margin-top: 60px;
    width: 100%;
    overflow: auto;
}
.button-loan {
    width: 100%;
}
.btn-lineout {
    border: 2px solid #3a4049;
    border-radius: 30px;
    color: #d4d4d4 !important;
}
.grid-loan-title {
    height: 15px;
    width: 224px;
    color: #ffffff;
    font-family: "Montserrat Alternates";
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 30px;
}
.grid-loan {
    margin-top: 50px;
    width: 100%;
}
.grid-loan-item {
    height: 116px;
    width: 100%;
    background: url(/assets/user-dashboard/loan/strip-grid-item-56c2e377294ee33dbdc6fb8788df2d42626ab44e4be56a6b5f9d9cce70fc9ad3.png);
}
.grid-loan-item-active {
    height: 116px;
    width: 100%;
    margin-bottom: 10px;
    background: url(/assets/user-dashboard/loan/strip-grid-item-active-bb1b9e220398be83de5f314698f466cee007993ee171c356475f528506daf69f.png);
}
.grid-loan-item-pending {
    height: 116px;
    width: 100%;
    margin-bottom: 10px;
    background: url(/assets/user-dashboard/loan/strip-grid-item-active-bb1b9e220398be83de5f314698f466cee007993ee171c356475f528506daf69f.png);
}
.grid-loan-item-inactive {
    height: 116px;
    width: 100%;
    margin-bottom: 10px;
    background: url(/assets/user-dashboard/loan/strip-grid-item-inactive-178786c84f4b6658af822b72d5bf1f19e09abe9cea90a32831e3489a1298dadd.png);
}
.grid-loan-item-unpaid {
    height: 116px;
    width: 100%;
    margin-bottom: 10px;
    background: url(/assets/user-dashboard/loan/strip-grid-item-inactive-178786c84f4b6658af822b72d5bf1f19e09abe9cea90a32831e3489a1298dadd.png);
}
.status-active,
.status-pending {
    height: 22px;
    width: 116px;
    color: #ffffff;
    font-family: "Montserrat Alternates";
    text-align: center;
    top: 0;
    margin-left: 22px;
    background: none;
    transform-origin: 0 0;
    transform: rotate(90deg);
    background: #5fff7d;
    border-radius: 0px 0px 5px 5px;
}
.status-pending {
    background: #225831 !important;
}
.status-unpaid {
    height: 22px;
    width: 116px;
    color: #ffffff;
    font-family: "Montserrat Alternates";
    text-align: center;
    top: 0;
    margin-left: 22px;
    background: none;
    transform-origin: 0 0;
    transform: rotate(90deg);
    background: #737aff;
    border-radius: 0px 0px 5px 5px;
}
.status-inactive {
    height: 22px;
    width: 116px;
    color: #ffffff;
    font-family: "Montserrat Alternates";
    text-align: center;
    top: 0;
    margin-left: 22px;
    background: none;
    transform-origin: 0 0;
    transform: rotate(90deg);
    background: #c24747;
    border-radius: 0px 0px 5px 5px;
}
.div-item-grid {
    display: inline-block;
}
.amount-loans {
    height: 16px;
    width: 173px;
    color: #ffffff;
    font-family: "Montserrat Alternates";
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    margin-left: 67px;
    margin-bottom: 12px;
    margin-top: 15px;
}
.amount-loans-label {
    height: 9px;
    width: 100px;
    color: #d4d4d4;
    font-family: "Montserrat Alternates";
    font-size: 13px;
    line-height: 20px;
    margin-left: 67px;
}
.amount-loans-paid {
    height: 16px;
    width: 149px;
    color: #6067e6;
    font-family: "Montserrat Alternates";
    font-size: 18px;
    line-height: 20px;
    margin-left: 67px;
    margin-bottom: 12px;
    margin-top: 15px;
}
.loan-date {
    margin-left: 50px;
    margin-right: 40px;
}
.loan-pay-now {
    margin-left: 33px;
    position: absolute;
    margin-top: 12px;
}
.faq-section {
    margin-top: 50px;
    width: 100%;
}
.question-text {
    margin-left: 70px;
    display: inline;
}
.question-section-close {
    height: 45px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    margin-bottom: 30px;
    box-sizing: border-box;
}
.question-section {
    width: 900px;
}
.question-section img {
    float: right;
}
.question-section-close img {
    float: right;
}
.answer-text {
    background-color: #171d25;
    width: 995px;
    margin-left: 70px;
    margin-top: 20px;
    font-family: "Montserrat Alternates";
    font-size: 18px;
    line-height: 20px;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 40px;
}
.head-transactions {
    margin-top: 60px;
}
.filter-title {
    height: 15px;
    width: 100px;
    color: #ffffff;
    font-family: "Montserrat Alternates";
    font-size: 18px;
    line-height: 20px;
}
.transaction-top-history {
    width: 600px;
    margin-left: 10px;
    margin-top: 30px;
}
.transaction-label {
    height: 16px;
    width: 165px;
    color: #ffffff;
    font-family: "Montserrat Alternates";
    font-size: 14px;
    line-height: 20px;
    margin-top: 32px;
}
.transaction-date {
    height: 35px;
    width: 84px;
    opacity: 0.85;
    color: #d4d4d4;
    font-family: Montserrat;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    float: left;
}
.icon-transaction {
    margin-left: 35px;
    margin-right: -40px;
    margin-top: -20px;
}
.container-progress-loan {
    display: flex;
    margin-left: 10px;
}
.loan-progress-info {
    display: flex;
}
.loan-progress-info-right {
    float: right;
    text-align: right;
}
.slidecontainer {
    width: 100%;
}
.slider {
    -webkit-appearance: none;
    background-image: linear-gradient(to right, #8f78e8, #b574c6);
    width: 100%;
    height: 10px;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 27px;
    height: 27px;
    border: 0;
    background: url(/assets/user-dashboard/loan/loan-slider-range-icon-7962e93f7858c6b5bb174d4c00eff5eeeafe5c1c5b40031fa691955e9a886c80.png);
    color: #fff;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 27px;
    height: 27px;
    border: 0;
    background: url(/assets/user-dashboard/loan/loan-slider-range-icon-7962e93f7858c6b5bb174d4c00eff5eeeafe5c1c5b40031fa691955e9a886c80.png);
    cursor: pointer;
}
.filter-select {
    background-color: transparent;
    border: 0px;
    width: 100%;
}
@media only screen and (max-width: 768px) {
    .menu-loan {
        height: 7px;
        width: 100%;
        font-family: Montserrat;
        font-size: 10px;
        font-weight: bold;
        line-height: 20px;
        margin-top: -10px;
        margin: auto;
        text-align: center;
    }
    .title-loan {
        height: 29px;
        color: #737aff;
        font-size: 36px;
        font-weight: bold;
        line-height: 20px;
        text-align: center;
        margin-bottom: 14px;
    }
    .inner-loan-interest-available {
        width: 128px;
        float: left;
        padding: 0;
        margin: 0 auto;
        margin-left: -11px;
        margin-right: 14px;
        text-align: center;
    }
    .header-pay-loan-form {
        height: 116px;
        width: 388px;
        background-color: #212734;
        box-shadow: 0 10px 45px 10px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
    }
    .pay-loan-form {
        height: 566px;
        width: 388px;
        background-color: #171d25;
        margin: 0 auto;
        border-radius: 8px;
    }
    .loan-form-first-group {
        margin-top: 60px;
        height: 90px;
        width: 370px;
        margin-left: 9px;
    }
    .loan-form-group {
        margin-top: 30px;
        height: 90px;
        width: 370px;
        margin-left: 9px;
    }
    .adj-header {
        height: 13px;
        width: 8px;
        display: inline;
        margin-top: 40px;
        margin-left: 18px;
        margin-right: 18px;
    }
    .line-header {
        box-sizing: border-box;
        height: 1px;
        width: 181px;
        border: 1px solid #ffffff;
        opacity: 0.05;
        background-color: #ffffff;
        display: inline;
        margin-top: 45px;
    }
    .inner-loan-portofolio {
        width: 100%;
        float: left;
        padding: 0;
        margin: 0 auto;
        text-align: center !important;
        height: 90px;
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
    }
    .inner-loan-portofolio p {
        text-align: center !important;
        float: none !important;
    }
    .loan-portofolio {
        width: 824px;
        margin: 0 auto;
        margin-top: 50px;
        height: 90px;
    }
    .inner-loan-portofolio-available {
        width: 303px;
        float: left;
        padding: 0;
        margin: 0 auto;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: -95px;
        text-align: center;
        font-size: 30px;
        height: 133px;
    }
    .pay-create-loan-form {
        height: 700px;
        width: 100%;
        background-color: #171d25;
        margin-left: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .loan-form-first-group-collateral {
        margin-top: 60px;
        height: 90px;
        width: 370px;
        margin-left: 20px;
    }
    .loan-form-group-collateral {
        margin-top: 50px;
        height: 155px;
        width: 370px;
        margin-left: 20px;
    }
    .banner-loan img {
        width: 324px;
        display: inline;
        margin-right: -21px;
    }
    .banner-loan {
        width: 400px;
        display: inline;
        margin-right: 23px;
        margin-left: 10px;
    }
    .div-item-grid {
        display: inline-block;
        margin-left: -35px;
        margin-top: -10px;
    }
    .loan-date {
        display: none !important;
    }
    .loan-maturity {
        display: none !important;
    }
    .question-section {
        width: 100%;
        padding-left: 10px;
    }
    .question-text {
        margin-left: 0px;
        display: inline;
        text-align: left;
    }
    .answer-text {
        background-color: #171d25;
        height: 194px;
        width: 90%;
        margin-left: 10px;
        margin-top: 20px;
        font-family: "Montserrat Alternates";
        font-size: 15px;
        line-height: 20px;
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 40px;
    }
    .grid-loan-title {
        height: 15px;
        width: 224px;
        color: #ffffff;
        font-family: "Montserrat Alternates";
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 30px;
        padding-left: 10px;
    }
    .question-section-close {
        height: 45px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        width: 100%;
        margin-bottom: 30px;
        box-sizing: border-box;
        padding-left: 10px;
    }
    .filter-transaction-section {
        padding-left: 10px;
    }
    .inner-transaction-filter-form {
        height: 350px;
        width: 100%;
        background-color: #171d25;
        margin-left: 15px;
        border-radius: 10px;
        margin-top: 30px;
    }
    .div-item-grid-transaction {
        display: inline-block;
        margin-left: -19px;
    }
    .transaction-date {
        display: none;
    }
    .grid-loan-transaction {
        padding-left: 10px;
    }
    .div-item-grid-mobile {
        width: 213px !important;
    }
    .div-item-grid-mobile-2 {
        text-align: left !important;
        width: 213px !important;
    }
    .loan-pay-now {
        display: block !important;
        margin-left: 31px;
        margin-top: -7px;
    }
}
@media only screen and (max-width: 380px) {
    .line-header {
        width: 163px;
    }
    .inner-loan-portofolio-available {
        width: 266px;
    }
    .loan-form-first-group-collateral {
        width: 331px;
    }
    .loan-form-group-collateral {
        width: 331px;
    }
    .button-collateral {
        margin-left: 55px;
    }
    .header-pay-loan-form {
        width: 354px;
    }
    .inner-loan-interest-available {
        width: 112px;
    }
    .inner-loan-interest {
        width: 91px;
    }
    .pay-loan-form {
        width: 354px;
    }
    .loan-form-first-group {
        width: 344px;
        margin-left: 5px;
    }
    .loan-form-group {
        width: 344px;
        margin-left: 5px;
    }
    .btn-transparent {
        padding: 10px 12px;
    }
    .btn-primary {
        padding: 15px 8px;
    }
    .amount-loans {
        height: 16px;
        width: 140px;
        font-size: 13px;
    }
    .loan-form-first-group-filter {
        width: 337px;
    }
    .title-transaction-section {
        margin-left: 23px;
        margin-top: 16px;
    }
    .button-loan {
        width: 100%;
    }
}
.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
#flash_alert {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
#flash_notice {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
a.accordion {
    text-decoration: none !important;
    color: #ffffff !important;
}
.icon-arrow-down:before {
    content: "";
    background-image: url(/assets/user-dashboard/loan/arrow_blue_down-0fcfeaa663e546f1f79c14d43190719297345783d385c52c85d74b3dc19e2ab1.png);
    background-size: 9px 7px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    float: right;
}
.icon-arrow-right:before {
    content: "";
    background-image: url(/assets/user-dashboard/loan/arrow_blue_nav-ddf6e725a84fbc3154987984671a23304a71f8d51f60c5208b4a18e849ffe4c6.png);
    background-size: 9px 12px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    float: right;
}
