.point-reward {
    display: flex;
}
.available-point {
    margin-top: 33px;
}
.my-rewards-rewards-history {
    height: 14px;
    width: 246px;
    opacity: 0.56;
    color: #9ca7be;
    font-family: "Montserrat Alternates";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-left: 545px;
    margin-top: 9px;
}
.filter-point-reward {
    height: 56px;
    width: 965px;
    margin-top: 56px;
}
.filter-point-reward .title-filter {
    color: #ffffff;
    font-size: 16px;
    display: flex;
}
.filter-point-reward .title-filter .text-title-filter {
    margin-left: 20px;
    margin-top: 2px;
}
.filter-point-reward .title-filter .input-filter {
    height: 56px;
    width: 307px;
    background-color: #1a2029;
    border: none;
    border-radius: 35px;
    margin-top: -14px;
    margin-left: 304px;
}
.filter-point-reward .title-filter .input-filter input {
    margin-left: 30px;
    margin-top: 8px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(156, 167, 190, 0.1);
    max-width: 320px;
    width: 76%;
    height: 38px;
    outline: none;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 20px;
    color: #dedede;
    padding-right: 40px;
}
.filter-point-reward .title-filter .select-category {
    height: 14px;
    width: 103px;
    color: #ffffff;
    font-family: "Montserrat Alternates";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.point-reward-categories {
    margin-left: 25px;
    border: 0 !important;
}
.select-categories {
    margin-left: 25px;
}
.banner-point-reward {
    height: 189px;
    width: 472px;
    background-color: #212734;
    display: grid;
}
.item-section {
    margin-top: 25px;
    background-size: 145px;
    background-repeat: no-repeat;
    background-position: 100% 75%;
    border-radius: 36px 36px 10px 32px !important;
    background-color: #ffffff;
    background-clip: content-box;
    padding-right: 1px !important;
}
.banner-section {
    margin-top: 30px;
}
.item-point-reward {
    height: 189px;
    width: 310px;
    background-color: transparent;
    display: grid;
}
.banner-point-reward-count {
    height: 9px;
    width: 70px;
    color: #737aff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-left: 31px;
    margin-top: 38px;
}
.sale-percent {
    height: 17px;
    width: 50%;
    color: #fefefe;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 20px;
    margin-left: 31px;
    margin-top: 38px;
    word-break: break-word;
    display: inline-table;
}
.title-banner {
    height: 9px;
    opacity: 0.56;
    color: #9ca7be;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    margin-left: 31px;
    margin-top: -25px;
    display: inline-table;
}
.separator {
    width: 15px;
}
.star-badge {
    position: absolute;
    margin-left: 434px;
    margin-top: -18px;
}
.item-star-badge {
    position: absolute;
    margin-left: 270px;
    margin-top: -18px;
}
.available-point-count {
    font-weight: bold;
}
.menu-reward-active {
    color: #737aff !important;
}
.menu-reward:hover {
    color: #737aff !important;
}
.menu-reward {
    color: #ffffff;
}
.text-my-reward {
    height: 14px;
    width: 100%;
    color: #9ca7be;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 41px;
}
.used-on {
    height: 9px;
    width: 100%;
    opacity: 0.4;
    color: #9ca7be;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-align: right;
    margin-top: 51px;
    float: right;
}
.sale-percent-used {
    margin-top: 64px !important;
}
.title-banner-used {
    margin-top: 10px !important;
}
.title-redeem-reward-confirmation {
    height: 23px;
    width: 100%;
    color: #ffffff;
    font-family: "Montserrat Alternates";
    font-size: 30px;
    font-weight: 600;
    line-height: 0;
    text-align: center;
    margin-top: 40px;
}
.title-redeem-successfully {
    height: 23px;
    width: 100%;
    color: #ffffff;
    font-family: "Montserrat Alternates";
    font-size: 30px;
    font-weight: 600;
    line-height: 0;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
}
.image-reward {
    height: 189px;
    width: 472px;
    margin: auto;
    display: grid;
}
.input-form-redeem-reward {
    height: 56px;
    width: 473px;
    margin: auto;
    background-color: #212734;
    border-radius: 35px;
    margin-top: 18px !important;
}
.input-form-redeem-reward input {
    margin-left: 30px;
    margin-top: 8px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(156, 167, 190, 0.1);
    width: 80%;
    height: 38px;
    outline: none;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 20px;
    color: #dedede;
    padding-right: 40px;
}
.input-form-total-amount {
    text-align: center;
    margin: auto;
    margin-top: 41px;
    margin-bottom: 61px;
}
.title-shipped-to {
    text-align: center;
    margin: auto;
    margin-top: 61px;
}
.shipped-address {
    text-align: center;
    margin: auto;
    color: #737aff;
    font-weight: bold;
}
.redeem-description {
    margin-top: 35px !important;
    margin: auto;
    width: 473px;
}
.list-redeem-description {
    width: 473px !important;
}
.reward-history-table {
    width: 100%;
}
.reward-history-table td {
    height: 71px;
    padding-left: 32px;
    font-family: Montserrat;
    font-size: 12px;
}
.image-item-redeem {
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
.background-tr {
    background-color: #212734;
}
.row-banner {
    margin-right: 0px !important;
    padding-left: 6px;
}
@media (max-width: 768px) {
    .point-reward {
        display: inline;
    }
    .point-reward .title {
        width: 40%;
        float: left;
    }
    .text-font-alternates {
        font-size: 30px;
    }
    .available-point {
        color: #8773e4;
    }
    .available-point-count {
        display: block;
        color: #ffffff;
    }
    .title-filter {
        display: block !important;
    }
    .input-filter {
        margin-top: -80px !important;
        margin-left: 0px !important;
        width: 35% !important;
    }
    .text-title-filter {
        margin-top: -21px !important;
    }
    .select-categories {
        margin-left: 193px !important;
    }
    .my-rewards-rewards-history {
        width: 60%;
        float: right;
        font-size: 10px;
        margin-top: 10px;
        text-align: right;
        margin-left: 0;
    }
    .available-point {
        margin-top: 76px;
        text-align: center;
    }
    .banner-section {
        display: block !important;
        padding-right: 0px;
        padding-left: 0px;
    }
    .banner-point-reward {
        width: 100% !important;
        margin-bottom: 10px !important;
    }
    .item-section {
        display: block !important;
        padding-right: 0px;
        padding-left: 0px;
    }
    .item-point-reward {
        width: 100% !important;
        margin-bottom: -1px !important;
    }
    .text-my-reward {
        font-size: 12px;
        margin-bottom: 63px !important;
    }
    .item-point-reward-used {
        margin-bottom: 50px !important;
    }
    .title-redeem-reward-confirmation {
        font-size: 20px !important;
    }
    .title-redeem-successfully {
        font-size: 20px !important;
    }
    .image-reward {
        width: 100%;
    }
    .input-form-redeem-reward {
        width: 100%;
    }
    .text-cancel-redeem {
        font-size: 16px;
    }
    .cancel-action-redeem {
        margin-top: 20px;
    }
    .list-redeem-description {
        width: 65% !important;
    }
    .row-banner {
        margin-left: 30px !important;
        margin-right: 30px !important;
    }
}
.card-gradient-for-modal {
    background: url(/assets/user-dashboard/img/border-ticket-15f7c400271fbe68d022fe25a3c48d03ef1a5e5558fbad16d6f4fe7b21ebdb0e.png), linear-gradient(195deg, #373f57 0%, #212734 100%);
    background-size: 12px, contain;
    background-repeat: repeat-x, repeat;
    background-position: 0 0, 0 5px;
}
.banner-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 12px;
}
